# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
.env.*

# ==============================
# Data (IMPORTANT)
# ==============================
data/raw/
data/processed/
*.parquet
*.csv
*.json

# Logs
logs/
*.log

# ==============================
# Models (large files)
# ==============================
models/
*.pt
*.pth

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# OS / Editor
# ==============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ==============================
# Docker
# ==============================
*.tar

# ==============================
# Misc
# ==============================
*.tmp
*.cache